<h3>Event evaluation</h3>

<table class="event-table">
	<tbody>
		
		<tr>
			<td colspan="4">
				Evaluation details
			</td>
		</tr>

		<tr>
			<td>Evaluation date</td>
			<td colspan="3"><%= date_format(event.states.where(:state => "evaluated").first.created_at, time: true) %></td>
		</tr>

		<tr>
			<td>Evaluator</td>
			<td colspan="3"><%= evaluator_full_name(event.evaluator) %></td>
		</tr>

		<tr>
			<td colspan="4">
				Event evaluation description
			</td>			
		</tr>

		<tr>
			<td colspan="4" class="event-description">
				<%= event.evaluation_description %>
			</td>
		</tr>

		<tr>
			<td colspan="4">
				Event files
			</td>
		</tr>

		<% event.service_event_files.each_slice(4) do |set| %>
			<tr>	
				<% set.each do |file| %>
						<td class="with-content">
							<%= thumbnail_assign(file) %>
						</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>