<div class="control-group">
	<%= f.label(:machine_id, 'Select machine', class: 'control-label') %>
	<div class='controls'>
		<%= f.select(:machine_id, current_user.firm.machines.collect { |m| [m.display_name, m.id] }, :include_blank => true, html: {id: "machine_list"}) %>
	</div>
</div>