<h3>Event solving</h3>

<% event.solving_steps.each do |t| %>
	<div id="show" class="step-container">
		<div class="step-header">
			<h4><%= t.step %></h4>
		</div>
		<div class="step-meta">
			<p>
				Created on <%= date_format(t.created_at, time: true) %> by <strong><%= t.user.full_name %></strong>
			</p>
		</div>
		<div class="step-content">
			<p>
				<%= t.description %>
			</p>
		</div>
	</div>
<% end %>