<h1>General#index</h1>
<p>Find me in app/views/general/index.html.erb</p>
<% @manufacturer_ids.each do |id| %>
	<h1><%= Machine.owner_manufacturer_name(id) %></h1>
	<% Machine.manufacturer_machine_types(id).each do |type| %>
		<h3><%= type %></h3>
		<% Machine.owner_machines_by_manufacturer_and_type(current_user.machine_owner, id, type).each do |machine| %>
			<div class="machine"><%= machine.display_name %></div>
		<% end %>
	<% end %>
<% end %>
<%= link_to 'New event', controller: 'events', action: 'new' %>

