<% @manufacturer_names.each do |name| %>
	<h1><%= name %></h1>
	<% machine_types(@machines).each do |type| %>
		<h3><%= type %></h3>
		<% machines_collection(@machines, name).each do |machine| %>
			<%= link_to machine_events_general_index_path(:machine => machine), :class => "link_reset" do %>
				<%= render :partial => 'machine', :locals => { :machine => machine } %>
			<% end %>
		<% end %>
	<% end %>
<% end %>