<h2>Events for machine <%= @machine.display_name %></h2>
<%= link_to new_machine_service_event_path(@machine), :class => 'clearfix' do %>
	<button class="btn btn-large btn-primary" type="button">Create new event</button>
<% end %>
<p></p>
<%= render(:partial => "table", :locals => { :machine => @machine}) %>
