<h1 class="page-header">Events for machine <%= @machine_name %></h1>
<%= link_to new_service_event_path(:machine => params[:machine]), :class => 'clearfix' do %>
	<button class="btn btn-large btn-primary" type="button">Create new event</button>
<% end %>
<p></p>
<%= render(:partial => "table", :locals => { :event_listing => @machine_events_all}) %>
