<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Client users</a></li>
		<li><a href="#tab2" data-toggle="tab">Admin users</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<%= render(:partial => "list", :locals => { :users => @users, :admin_user => false }) %>
		</div>
		<div class="tab-pane" id="tab2">
			<%= render(:partial => "list", :locals => { :users => @users, :admin_user => true }) %>
		</div>
	</div>
</div>
