<div class="container users">
	<h2>Password reset</h2>
	<%= form_tag create_password_reset_users_path, :id => "password_reset" do %>
	  <div class="field">
	    <%= label_tag :email %>
	    <%= text_field_tag :email, params[:email] %>
	  </div>
	  <div class="actions"><%= submit_tag "Reset Password", class: "btn btn-primary" %></div>
	<% end %>
</div>