<h2>Define new machine event</h2>
<%= form_for(:event, :url => {:action => 'create'}, html: {id: "new_event"}) do |f| %>
<%= f.select(:machine_id, Machine.all.collect { |m| [m.display_name, m.id] }, html: {id: "machine_list"}) %>

<% end %>

