<div class="container">
<%= link_to(raw("<i class='icon-chevron-left'></i>back"), {:action => 'show', :id => @owner.id}, {:class => 'btn spatiu-sus'}) %>
<h1>Update Machine Owner</h1>
<%= form_for(@owner, :url => {:action => 'update', :id => @owner.id}, html: {class: "form-horizontal"}) do |f| %>
<%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>
</div>