<h2>Machine owners list</h2>
<table cellpadding="0" cellspacing="0" border="0" id="machine_owners_list" class="table table-striped table-bordered" data-source="<%= machine_owners_url(format: "json") %>">
  <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Address</th>
        <th>Office tel</th>
        <th>Office mail</th>
        <th>Last updated</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= render(:partial => "shared/add_button") %>