<%= render(:partial => "shared/btn_back_to_list") %>
<h1>New machine owner</h1>
<%= form_for(:machine_owner, :url => {:action => 'create'}, html: {class: "form-horizontal"}) do |f| %>
<%= render(:partial => "shared/new_firm", :locals => {:f => f}) %>
<% end %>