// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require font-awesome
.machine-box {
	display: inline-block;
	width: auto;
	height: auto;
}

.machine {
			display: inline-block;
			height: 50px;
			width: 100px;
			// background-color: grey;
			// line-height: 50px;
			font-weight: bold;
			text-align: center;
			border: 5px solid #59D659;
			margin: 5px;
			border-radius: 5px;
		 }


.hover-links {
	padding: 0 3px;
}

.machine-animation {
	animation: myBlink 3s linear 1.5s infinite;
	-webkit-animation: myBlink 3s linear 1.5s infinite;
}		 

@keyframes myBlink {
    from {
    	border-color: white;
    }
    to {
    	border-color: red;
    }
}

@-webkit-keyframes myBlink {
	from {
    	border-color: white;
    }
    to {
    	border-color: red;
    }
}

.blink {
	animation-name: myIconBlink; 
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);

	-webkit-animation-name: myIconBlink;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
}


.alarm {
	border-color: #FF9999;
}

.corner-icon {
	/* Internet Explorer 10 */
	display: -ms-flexbox;
	-ms-flex-pack: start;
	-ms-flex-align: start;

	/* Firefox */
	display: flex;
	-moz-box-pack: start;
	-moz-box-align: start;

	/* Safari, Chrome, and Opera */
	display: -webkit-box;
	-webkit-box-pack: start;
	-webkit-box-align: start;
	
	/* W3C */
	display: box;
	box-pack: start;
	box-align: start;

}

@keyframes myIconBlink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes myIconBlink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.machine-name {
	display: inline-block;
}

.machine:hover {
	color: red;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 0px 4px #222;
}

.machine[title]:hover:after {
  content: attr(data-title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: -50%; 
  top: 120%;
  white-space: nowrap; 
  z-index: 1;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  background-color: rgba(238, 238, 238, 0.8);
  // background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  // background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  // background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
  // background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  // background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
  // background-image: -o-linear-gradient(top, #eeeeee, #cccccc);  
}

.link_reset {
	text-decoration: none !important;
}

.control-panel-block {
	display: inline-block;
	height: 140px;
	width: 110px;
	text-align: center;
	border: 1px solid #bebebe;
	color: #4e4e4e;
	border-radius: 3px;
	margin: 10px;
	float: left;
	padding: 5px;
	transition: box-shadow .3s, color .3s;
}


.control-panel-block i {
	font-size: 100px;
}

.control-panel-block:hover {
	box-shadow: 0px 0px 10px 7px #A1D3F4; 
	text-shadow: 0px 0px 20px #acecec;
	color: #202849;

	animation-name: MyBorderBlink;
	animation-duration: .7s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

	-webkit-animation-name: MyBorderBlink;
	-webkit-animation-duration: .7s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes MyBorderBlink {
	from {
		box-shadow: 0px 0px 10px 7px #A1D3F4;
	}
	to {
		box-shadow: 0px 0px 10px 4px #A1D3F4;
	}
}

@-webkit-keyframes MyBorderBlink {
	from {
		box-shadow: 0px 0px 10px 7px #A1D3F4;
	}
	to {
		box-shadow: 0px 0px 10px 4px #A1D3F4;
	}
}