// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.machine {
			display: inline-block;
			height: 50px;
			width: 100px;
			// background-color: grey;
			margin: 5px;
			line-height: 50px;
			font-weight: bold;
			text-align: center;
			border: 5px solid grey;
		 }
.machine-animation {
	animation: myBlink 3s linear 1.5s infinite;
	-webkit-animation: myBlink 3s linear 1.5s infinite;
}		 

@keyframes myBlink {
    from {
    	border-color: white;
    }
    to {
    	border-color: red;
    }
}

@-webkit-keyframes myBlink {
	from {
    	border-color: white;
    }
    to {
    	border-color: red;
    }
}

.blink {
	animation: myIconBlink 0.5s linear 0.2s infinite;
	-webkit-animation: myIconBlink 0.5s linear 0.2s infinite;
}

@keyframes myIconBlink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@-webkit-keyframes myIconBlink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}