// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event_description {
	width: 100%;
	height: 100px;
	resize:vertical;
	min-height: 150px;
}

.alarm_code_add {
  display: block;
  padding: 0 3px;
  font-weight: bold;
}

.alarm_code_add:hover {
  background: #7bd503;
  cursor: pointer;
  border-radius: 2px;
}

#acdp {
display: none;
}

#acdp:before {
font-family: sans-serif;
font-size: 13px;
content: "* click alarm to remove";
}

.wrapper_block {
  display: block;
  width: auto;
  height: auto;
}

.show_wrapper {
  display: block;
  height: 50px;
}


.show_label, .show_content {
  min-height: 50px;
  float: left; 
  line-height: 50px;
  padding-left: 15px;
  border: 1px solid black;
  margin-right: -1px;
  margin-bottom: -1px;
}

.show_label {
  display: block;
  width: 350px;
  font-size: normal;
  font-weight: bold;
 
}

.show_content {
  display: inline-block;
  width: 400px;

}

.event-show-table {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 10px;
  border: 1px solid black;
}

.event-column {
  display: block;
  min-height: 2px;
  width: 50%;
  border-right: 1px solid black;
}

.event-column-row {
  display: block;
  width: 100%;
  min-height: 20px;
  border-bottom: 1px solid black;
}

.event-cell {
  display: block;
  height: 100%;
}

.custom_span {
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
}

span.header-column {
  @extend custom_span;
  display: block;
  font-weight: bold;
  background-color: #DBDBDB;
}

span.column1of1 {
  @extend custom_span;
}

span.column2of2 {
  @extend custom_span;
  font-style: italic;
}

.event-show-table div {
  display:block;
} 

.label-show-style {
  font-weight: bold;
  font-size: medium;

}

.event-table {
    width: 80%;
    height: auto;
    border-collapse: collapse;
    font-size: 14px;
}

.event-table th, .event-table td {
    border: 1px solid #DDD;
}

table.event-table > tbody {
    border-radius: 10px;
}

.event-table td {
    padding: 5px;
}

.event-table tr > td:first-child {
    background-color: rgba(243, 243, 243, 0.6);
}

table.event-table td[colspan="2"] {
    background-color: rgba(235, 235, 235, 0.8);
    padding: 5px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.event-table > tbody:nth-child(1) > tr:nth-child(18) > td:nth-child(2) {
    width: 80%;
}

table.event-table .event-description {
  background-color: inherit !important;
  padding: 7px !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

table.event-table .td-alarm-reset {
  background-color: inherit !important;
}

div#recursive_event {
  div.modal-body {
       div {
          display: inline-block;
          float: left;
          height: 200px;
          overflow: auto; 
          border-radius: 5px;
        li {
          list-style: none;
          padding: 0 0 0 5px;
        }
       }

       div:nth-child(1) {
          width: 52%; 
          border: 1px solid #aaa; 
          
           li:nth-child(odd) {
           }

           li:nth-child(odd):hover {
            background-color: #eee;
            cursor: pointer;
           }

           li:nth-child(odd).active {
            background-color: rgba(0, 136, 204, 0.5);
           }

           li:nth-child(even) {
            display: none;
           } 
        }

        div:nth-child(2) {
          background-color: rgba(235, 235, 235, 0.5);
          width: 47%;
        }
  }
}
