// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *= require fancybox
// *= require mediaelementplayer

#event_description {
	width: 100%;
	height: 100px;
	resize:vertical;
	min-height: 150px;
}

.alarm_code_add {
  display: block;
  padding: 0 3px;
  font-weight: bold;
  font-style: italic;
}

.alarm_code_add:hover {
  background: #7bd503;
  cursor: pointer;
  border-radius: 2px;
}

#acdp {
display: none;
}

#acdp:before {
font-family: sans-serif;
font-size: 13px;
content: "* click alarm to remove";
}

.wrapper_block {
  display: block;
  width: auto;
  height: auto;
}

.show_wrapper {
  display: block;
  height: 50px;
}


.show_label, .show_content {
  min-height: 50px;
  float: left; 
  line-height: 50px;
  padding-left: 15px;
  border: 1px solid black;
  margin-right: -1px;
  margin-bottom: -1px;
}

.show_label {
  display: block;
  width: 350px;
  font-size: normal;
  font-weight: bold;
 
}

.show_content {
  display: inline-block;
  width: 400px;

}

.event-show-table {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 10px;
  border: 1px solid black;
}

.event-column {
  display: block;
  min-height: 2px;
  width: 50%;
  border-right: 1px solid black;
}

.event-column-row {
  display: block;
  width: 100%;
  min-height: 20px;
  border-bottom: 1px solid black;
}

.event-cell {
  display: block;
  height: 100%;
}

.custom_span {
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
}

span.header-column {
  @extend custom_span !optional;
  display: block;
  font-weight: bold;
  background-color: #DBDBDB;
}

span.column1of1 {
  @extend custom_span !optional;
}

span.column2of2 {
  @extend custom_span !optional;
  font-style: italic;
}

.event-show-table div {
  display:block;
} 

.label-show-style {
  font-weight: bold;
  font-size: medium;

}

.event-table {
    width: 80%;
    height: auto;
    border-collapse: collapse;
    font-size: 14px;
}

.event-table th, .event-table td {
    border: 1px solid #DDD;
}

table.event-table > tbody {
    border-radius: 10px;
}

.event-table td {
    padding: 5px;
}

.event-table tr > td:first-child {
    background-color: rgba(243, 243, 243, 0.6);
    width: 20%;
}

.event-table tr > td.with-content {
  width: inherit;
  background-color: inherit;
  text-align: center;
}

.event-table tr > td:nth-of-type(2) {
  // text-align: center;
}

table.event-table td[colspan="2"], table.event-table td[colspan="6"] {
    background-color: rgba(235, 235, 235, 0.8);
    padding: 5px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.event-table > tbody:nth-child(1) > tr:nth-child(18) > td:nth-child(2) {
    width: 80%;
}

table.event-table .event-description {
  background-color: inherit !important;
  padding: 7px !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

table.event-table .td-alarm-reset {
  background-color: inherit !important;
}

div#recursive_event {
  div.modal-body {
       div {
          display: inline-block;
          float: left;
          height: 200px;
          overflow: auto; 
          border-radius: 5px;
        li {
          list-style: none;
          padding: 0 0 0 5px;
        }
       }

       div:nth-child(1) {
          width: 52%; 
          border: 1px solid #aaa; 
          
           li:nth-child(odd) {
           }

           li:nth-child(odd):hover {
            background-color: #eee;
            cursor: pointer;
           }

           li:nth-child(odd).active {
            background-color: rgba(0, 136, 204, 0.5);
           }

           li:nth-child(even) {
            display: none;
           } 
        }

        div:nth-child(2) {
          background-color: rgba(235, 235, 235, 0.5);
          width: 47%;
        }
  }
}

label > input#service_event_recursive_true + label {
  display: inline;
  font-weight: normal;
}

label > input#service_event_recursive_true ~ p {
  display: inline;
}

[id^="edit_service_event"] label {
  font-size: 16px;
  font-weight: bold;
  // text-shadow: 2px 2px #E2E2E2;
}

label[for=recursive],
label > input#service_event_recursive_true ~ p
{
  font-size: 14px;
  font-weight: normal;
}

.file-container {
  $fc-width: 912px;
  width: $fc-width;
  height: auto;
  // border: 1px solid black;
  // border-radius: 5px;

  .file-container-object {
    $square-dim: round($fc-width/6); 
    display: inline-block;
    width: $square-dim;
    height: $square-dim;
    // border: 1px solid black;
    margin: -2px;
    line-height: $square-dim;
    text-align: center;
    padding: 0;

    img {
      height: 95%;
      width: 95%;
    }

    img:hover {
      opacity: 0.8;
      // cursor: pointer;
    }

    input[id^="service_event_service_event_files_attributes"], input {
      position: absolute;
      z-index: 1;
      margin: 5px;
    }
  }

  .file-container-object:hover {
    background-color: rgba(230, 230, 230, 0.5);
  }

  div {
    margin-top: 10px;
    display: inline-block;
    width: 100px;
    position: relative;
    cursor: pointer;

    span {
      cursor: pointer;
    }

    input[id^="service_event_service_event_files_attributes"][type="file"] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      direction: ltr;
      cursor: pointer;
    }
  }

  div.progress {
    display: none;
    height: 40px;
    width: 100%;
    div.bar {
      margin: 0;
    }
  }
}

div[id^='mep_'] {
  margin: 0 auto;
}
