// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require fancybox
// *= require mediaelementplayer
// *= require jquery.fileupload-ui
// *= require bootstrap-datepicker
// *= require jquery.fileupload-ui
// *= require font-awesome

#event_description {
	width: 100%;
	height: 100px;
	resize:vertical;
	min-height: 150px;
}

.alarm_code_add {
  display: block;
  padding: 0 3px;
  font-weight: bold;
  font-style: italic;
}

.alarm_code_add:hover {
  background: #7bd503;
  cursor: pointer;
  border-radius: 2px;
}

#acdp {
display: none;
}

#acdp:before {
font-family: sans-serif;
font-size: 13px;
content: "* click alarm to remove";
}

.wrapper_block {
  display: block;
  width: auto;
  height: auto;
}

.show_wrapper {
  display: block;
  height: 50px;
}


.show_label, .show_content {
  min-height: 50px;
  float: left; 
  line-height: 50px;
  padding-left: 15px;
  border: 1px solid black;
  margin-right: -1px;
  margin-bottom: -1px;
}

.show_label {
  display: block;
  width: 350px;
  font-size: normal;
  font-weight: bold;
 
}

.show_content {
  display: inline-block;
  width: 400px;

}

.event-show-table {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 10px;
  border: 1px solid black;
}

.event-column {
  display: block;
  min-height: 2px;
  width: 50%;
  border-right: 1px solid black;
}

.event-column-row {
  display: block;
  width: 100%;
  min-height: 20px;
  border-bottom: 1px solid black;
}

.event-cell {
  display: block;
  height: 100%;
}

.custom_span {
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
}

span.header-column {
  @extend custom_span !optional;
  display: block;
  font-weight: bold;
  background-color: #DBDBDB;
}

span.column1of1 {
  @extend custom_span !optional;
}

span.column2of2 {
  @extend custom_span !optional;
  font-style: italic;
}

.event-show-table div {
  display:block;
} 

.label-show-style {
  font-weight: bold;
  font-size: medium;

}

// show event

table.event-table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  font-size: 14px;
  color: rgb(51,51,51);

  th, td {
      border: 1px solid #ddd;
  }

  td {
      padding: 5px;
  }

  tr > td.with-content {
    width: auto !important;
    background-color: inherit;
    text-align: center;

    a {
      $size: 180px;
      color: inherit;
      i, img {
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        font-size: $size;
        max-width: inherit;
      }
    }

    a:hover {
      color: inherit;
      text-decoration: none;
      opacity: 0.8;
    }
  }

  td[colspan="2"], td[colspan="4"] {
      // background-color: rgba(235, 235, 235, 0.8);
      padding: 5px;
      // width: 50%;
      font-size: 17px;
      font-weight: bold;
  }

  tbody:nth-child(1) > tr:nth-child(18) > td:nth-child(2) {
      width: 80%;
  }
  .event-description {
    background-color: inherit !important;
    padding: 7px !important;
    font-size: inherit !important;
    font-weight: inherit !important;
  }
  .td-alarm-reset {
    background-color: inherit !important;
  }

  tbody {
    tr:nth-child(2) {
      td:nth-child(1),
      td:nth-child(3) {
        width: 15%;
      }
      td:nth-child(2) {
        width: 35%;
      }
    }
  }
}

table:nth-child(4).event-table,
table:nth-child(5).event-table {
  margin-top: -1px;
}

.event-table + .btn {
  margin-top: 10px;
}


#table1 > table > tbody > tr:nth-child(6) > td:nth-child(3) {
  background-color: transparent;
}
#table1 > table > tbody > tr:nth-child(1) > td {
  width: 50%;
}
// end of show

div#recurrent_event {
  div.modal-body {
       div {
          display: inline-block;
          float: left;
          height: 200px;
          overflow: auto; 
          border-radius: 5px;
        li {
          list-style: none;
          padding: 0 0 0 5px;
        }
       }

       div:nth-child(1) {
          width: 52%; 
          border: 1px solid #aaa; 
          
           li:nth-child(odd) {
           }

           li:nth-child(odd):hover {
            background-color: #eee;
            cursor: pointer;
           }

           li:nth-child(odd).active {
            background-color: rgba(0, 136, 204, 0.5);
           }

           li:nth-child(even) {
            display: none;
           } 
        }

        div:nth-child(2) {
          background-color: rgba(235, 235, 235, 0.5);
          width: 47%;
        }
  }
}

label > input#service_event_recurrent_true + label {
  display: inline;
  font-weight: normal;
}

label > input#service_event_recurrent_true ~ p {
  display: inline;
}

[id^="edit_service_event"] label, #new_service_event_file label {
  font-size: 16px;
  font-weight: bold;
  // text-shadow: 2px 2px #E2E2E2;
}

label[for=recurrent],
label > input#service_event_recurrent_true ~ p
{
  font-size: 14px;
  font-weight: normal;
}

.file-container {
  $fc-width: 912px;
  width: $fc-width;
  height: auto;
  // border: 1px solid black;
  // border-radius: 5px;

  .file-container-object {
    $square-dim: round($fc-width/6); 
    display: inline-block;
    width: $square-dim;
    height: $square-dim;
    padding: 5px;
    border: 1px solid #aaa;
    margin: 2px;
    // line-height: $square-dim;
    text-align: center;
    vertical-align: middle;

    img {
      height: 95%;
      width: 95%;
    }

    img:hover {
      opacity: 0.8;
      // cursor: pointer;
    }

    input.destroy {
      position: absolute;
      z-index: 1;
      margin: 5px;
      left: 5px;
      top: 5px;
    }

    p {
      word-break: break-all;
      color: rgba(50, 50, 50, 0.5);
      font: normal 12px/12px sans-serif;
    }

    p, i {
      -webkit-transform: translateY(round($square-dim/3));
      -moz-transform: translateY(round($square-dim/3));
      -ms-transform: translateY(round($square-dim/3));
      -o-transform: translateY(round($square-dim/3));
      transform: translateY(round($square-dim/3));
    }

    i {
      font-size: 20px;
    }
  }

  .file-container-object:hover {
    background-color: rgba(230, 230, 230, 0.5);
    
    p {
      text-shadow: 2px 2px 5px #ddd;
    }
  }

  div {
    margin-top: 10px;
    display: inline-block;
    width: 100px;
    position: relative;
    cursor: pointer;

    span {
      cursor: pointer;
    }

    input[id^="service_event_file_file"][type="file"] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      direction: ltr;
      cursor: pointer;
    }
  }

  div.progress {
    display: none;
    height: 40px;
    width: 100%;
    div.bar {
      margin: 0;
    }
  }
}

div[id^='mep_'] {
  margin: 0 auto;
}

$step-margin: 15px;

div#show {
  position: relative;
  margin: 5px 0;
  // border: 1px solid #aaa;
  // background-color: rgba(230, 40, 31, 0.2);
  .step-header {
    // background-color: rgba(130, 142, 231, 0.3);
    border-bottom: 1px solid #eee;
    h5 {
      margin: 0;
    }
  }
  .step-meta {
    margin: 0 0 5px $step-margin;
    // background-color: rgba(50, 50, 220, 0.5);
    p {
      margin: 0;
      font-size: 10px;
    }
  }

  .step-content {
    // background-color: rgba(240, 10, 220, 0.8);
    margin-left: $step-margin;
    text-indent: 10px;
    p {
      margin: 0;
    } 
  }
}

form[id^='edit_service_event'] > input[name=commit],
form[id^='new_event'] > input[name=commit]
  {
    position: absolute;
    margin-top: 100px;
  }

#table1 {
  max-height: 31px;
  transition: max-height 1.5s;
  overflow: hidden;
}

// #table1:hover {
//   max-height: 216px;
// }

fieldset#tokens_fieldset {
  display: none;
}
#service_event_cause_tokens {
  display: none;
}


input#token-input-service_event_cause_tokens:focus {
  border-color: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

ul.token-input-list {
  display: inline-block;
  overflow: hidden; 
  height: auto !important; 
  height: 1%; 
  width: 200px;
  border: 1px solid #999;
  cursor: text;
  font-size: 12px;
  // font-family: Verdana;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #d0efa0;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    // font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}

div[class^="cause_wrapper_"] {
  position: relative;
}

div[id^="delete_cause_"] {
  position: absolute;
  right: 5px;
  top: 13.5px;
}

div[id^="delete_cause_"] > a {
  display: inline-block;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

div[id^="delete_cause_"] > a:hover {
  text-shadow: 0 0 1px #000,
               0 0 10px rgba(158, 158, 158, 0.8);
  color: rgba(187, 36, 36, 1);
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

div[id^="delete_cause_"] > a:after {
  content: '✖';
}

textarea[id^="software_problem_description_"] {
  width: 100%;
  height: 100px;
}