// Place all the styles related to the SolvingSteps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#app ol {
	counter-reset: li;
	list-style-type: decimal;
}

#app li {
	position: relative;
	padding: 5px;
	list-style-type: none;
	// background-color: aliceblue;
}

$bullet_dim: 16px;

#app li:before {
	display: inherit;
	counter-increment: li;
	content: counter(li);
	position: absolute;
	height: $bullet_dim;
    width: $bullet_dim;
    // transition: all .3s ease-out;
	background-color: rgba(200, 200, 200, 0.8);
	text-align: center;
	padding: $bullet_dim/4;
	border-radius: $bullet_dim;
	line-height: $bullet_dim;
	top: 3px;
	box-shadow: 0 0 5px rgba(200, 200, 200, 0.8);
	opacity: .7;
	font-size: $bullet_dim - $bullet_dim/4;
	font-weight: bold;
	// transform: rotate(360deg);
}


#app li > a {
	margin-left: $bullet_dim + $bullet_dim/1.3;
}

#app li:hover {
	background-color: rgba(240, 240, 240, 0.5);
	border-radius: 5px;
	outline: #CCCCCC dashed 1px;
}

#app li:hover:before {
	// background-color: inherit;
	// box-shadow: none;
	opacity: 1;
	// -webkit-transform: rotate(60deg);
}

#app li:hover:before {
	// transform: rotate(360deg);
}

#app li .destroy, #app .step-header .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#app .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

#app li .destroy:after, #app .step-header .destroy:after {
  content: '✖';
}

#app li:hover .destroy, #app .step-header:hover .destroy {
  display: inline-block;
}

#app div.action-block {
	display: block;
	clear: both;
	border-top: 1px solid #eeeeee;
	a {
		margin: 10px 0;
	}
}

#app .step-container {
	margin-left: 15px;
	.edit,
	.edit:focus {
		// outline: none;
		// background: transparent;
		// border: none;
		// box-shadow: none;
		}
	textarea.edit {
		width: 95%;
		min-height: 200px;
	}	
}

#app .step-container:hover {
	background-color: rgba(235, 235, 235, 0.6);
	box-shadow: 
	 outset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    border-radius: 5px;
}

#app .step-container:hover {
	outline: 1px dashed #ccc;
	outline-offset: 6px;
}

#app .step-header {
	border-bottom: 1px solid #ccc;
	position: relative;
	h5 {
		margin: 2px 0;
	}
}

#app .step-meta {
	margin-left: 5px;
	p {
		font-style: italic;
	}
}

#app .step-content {
	margin: 10px 0 0 20px;
	
	p {
		text-indent: 20px;
	}
}

#app textarea.new-step {
	width: 60%;
	height: 50px;
}

