.users label {
	font-weight: bold !important;
	font-size: 16px;
}

.form-signin, .form-password-reset {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
.form-signin .form-signin-heading,
.form-signin .checkbox {
						margin-bottom: 10px;
						}
.form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
      }
.form-signin input[type="text"], .form-signin input[type="password"], #user_email, #user_password {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.form-password-reset {
        max-width: 500px;
}

.navcustom {
  margin: 10px 0 0 0;
}

.form-password-reset label {
    font-size: 15px;
    font-weight: bold;
}