<div class="container">
	<%= link_to(raw("<i class='icon-chevron-left'></i>back"), {:action => 'list'}, {:class => 'btn spatiu-sus'}) %>
	<div class="alert distantier-alerta">
  		<strong>Warning!</strong> This action cannot be undone !!!.
	</div>
	<%= form_for(:manufacturer, :url => {:action => 'destroy', :id => @manufacturer.id}, html: {class: "form-actions"}) do |f| %>
		<p>Are you sure you want to delete <b><%= @manufacturer.name %></b> ?</p>
		<%= submit_tag("Yes, delete it !", :class => 'btn btn-danger') %>
	<% end %>
</div>