<%= link_to(raw("<i class='icon-chevron-left'></i>back"), {:action => 'show', :id => @machine.id}, {:class => 'btn spatiu-sus'}) %>

<% if !flash[:notice].blank? %>
<div class="alert alert-success distantier-alerta">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<%= flash[:notice] %>
</div>
<% end %>

<h1>Update Machine</h1>
<%= form_for(:machine, :url => machine_path, :method => 'put', html: {class: "form-horizontal"}) do |f| %>
<%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>