<%= link_to(raw("<i class='icon-chevron-left'></i>back"), {:action => 'show', :id => @manufacturer.id}, {:class => 'btn spatiu-sus'}) %>
<h1>Update Manufacturer</h1>
<%= form_for(:manufacturer, :url => {:action => 'update', :id => @manufacturer.id}, html: {class: "form-horizontal"}) do |f| %>
<%= render(:partial => "shared/new_firm", :locals => {:f => f, :button_name => "manufacturer"}) %>
<% end %>